@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.main-page-content {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    width: 50%;
}
.main-page-content__text{
    text-align: center;
    padding-bottom: 30px;
    font-weight: 600;
}
.main-page-content__choose-mode{
    height: 150%;
    display: inline-block;
    width: 49%;
}
.main-page-content__mode-text{
    text-align: center;
    height: 70%;
    font-weight: 400;
}
.main-page-content__mode-button{
    text-align: center;
}