{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="static/css/first_method.css">
    <div class="first-method-container">
        <div class="first-method-container__form">
            <form action="" method="post">
            <p>
                {{ form.npz.label }}<br>
                {{ form.npz(class="form-control") }}<br>
                {% for error in form.npz.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            </p>    
            
            <p>
                {{ form.azs.label }}<br>
                {{ form.azs(class="form-control") }}<br>
                {% for error in form.azs.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            </p>

            <p>{{ form.submit(type="submit", class="btn btn-dark") }}</p>
            </form>
        </div>
        
    </div>
    
{% endblock %}