{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="static/css/index.css">
    <div class="main-page-content">
        <h1 class="main-page-content__text">Выберите режим работы</h1>
        <div class="main-page-content__choose-mode">
            <h4 class="main-page-content__mode-text">Одна машина, одна нпз, самый завершенный вариант</h4>
            <div class="main-page-content__mode-button">
                <a role="button" class="btn btn-warning" href="/first_method">Первый режим</a>
            </div>
        </div>
        <div class="main-page-content__choose-mode">
            <h4 class="main-page-content__mode-text">Несколько машин и нпз(экспериментальный режим)</h4>
            <div class="main-page-content__mode-button">
                <a role="button" class="btn btn-warning" href="/second_method">Второй режим</a>
            </div> 
        </div>
    </div>
{% endblock %}